@font-face {
    font-family: 'BostonTrafficRegular';
    src: url('../fonts/boston_traffic-webfont.eot');
    src: url('../fonts/boston_traffic-webfont.eot?iefix') format('eot'),
         url('../fonts/boston_traffic-webfont.woff') format('woff'),
         url('../fonts/boston_traffic-webfont.ttf') format('truetype'),
         url('../fonts/boston_traffic-webfont.svg#webfontpKfzaSWV') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    font-family: Helvetica, Arial, sans-serif;
    background: #DBECFD; /* old browsers */

    background: -moz-linear-gradient(left, #DBECFD 0%, #FFFFFF 100%); /* firefox */

    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#DBECFD), color-stop(100%,#FFFFFF)); /* webkit */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DBECFD', endColorstr='#FFFFFF',GradientType=1 ); /* ie */
    color: #484848;
}

section.project, section.release_tracking, section.news {
    border: 2px solid #00a;
    margin-bottom: 2em;
    background: white;
}

.topsummary {
    display: -webkit-box;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    width: 100%;
    margin-bottom: 2em;
}

.topsummary h1 {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    padding-left: 200px;
    padding-top: 25px;
    background: url(../images/logo.png) no-repeat;
    color: #484848;
}

.maindate {
    width: 50px;
    line-height: 60px;
    height: 60px;
    color: #484848;
}

#primary {
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    width: 100%;
}

#nav {
    width: 150px;
    margin-right: 50px;
}

#nav div {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 1px solid #00a;
    cursor: pointer;
}

#nav div:hover {
    background: white;
}

#content {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

section.project div.summary {
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    width: 100%;
    border-bottom: 1px solid #00a;
}

div.summary div.main {
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
    width: 100%;
}

div.summary div.main div.top {
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    width: 100%;
    border-bottom: 1px solid #00a;
}

div.summary div.top h2 {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-left: 0.5em;
}

section.project .blurb {
    padding: 0.5em 0.5em;
}

div.summary div.top div {
    border-left: 1px solid #00a;
    width: 138px;
    padding: 10px 5px 0px 5px;
}

section.project div.summary div.counts span.flags {
    padding-right: 18px;
    margin-right: 10px;
    background: url(../images/flag.png) no-repeat right;
}

section.project div.summary div.counts span.bugs {
    padding-right: 18px;
    margin-right: 10px;
    background: url(../images/bug.png) no-repeat right;
}

div.status {
    line-height: 40px;
    padding: 30px 10px 0px 10px;
    border-left: 1px solid #00a;
    font-family: "BostonTrafficRegular", Helvetica, Arial, sans-serif;;
}

div.summary img.avatar {
    width: 32px;
    height: 32px;
}

section.project h2 a {
    text-decoration: none;
    border-bottom: 1px solid #0000aa;
}

h1, h2, div.maindate {
    font-family: "BostonTrafficRegular", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #0000aa;
}

a:visited, a:link {
    color: #0000aa;
}

a.bugid {
    color: #0000aa;
}

a.resolved {
    text-decoration: line-through;
}

#people {
    display: none;
}

section.people {
    display: none;
}

span.patchstatus {
    font-family: "Inconsolata", "Menlo", "Courier New", monospace;
}

#templates {
    display: none;
}

div.tabs {
    padding: 1em;
}

section.release_tracking table td.project, table.news td.project {
    text-decoration: underline;
    cursor: pointer;
}

table.bugs, table.news, section.release_tracking table {
    width: 100%;
}
