@font-face {
    font-family: 'BostonTrafficRegular';
    src: url('../fonts/boston_traffic-webfont.eot');
    src: url('../fonts/boston_traffic-webfont.eot?iefix') format('eot'),
         url('../fonts/boston_traffic-webfont.woff') format('woff'),
         url('../fonts/boston_traffic-webfont.ttf') format('truetype'),
         url('../fonts/boston_traffic-webfont.svg#webfontpKfzaSWV') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	width: 800px;
	margin: auto;
	color: #555;
	background: #EEE;
	line-height: 150%;
	text-align: justify;
	text-shadow: #FFF 1px 1px 1px;
	font-family: Tahoma, Geneva, sans-serif;
	box-shadow:4px 4px 2em rgba(0,0,0,0.25);
}
#gitfork {
	top: 0;
	left: 0;
	border: 0;
	position: relative;
}
#repository {
	float: right;
	text-align: right;
	position: relative;
	margin-top: 32px;
	margin-right: 208px;
	font-weight: bold;
	color: #666;
	text-shadow: #ccc 4px 4px 4px;
}
#content {
	position: relative;
	margin-left: 80px;
	margin-right: 48px;
	padding-bottom: 128px;
}
h1 {
	font-size: 36px;
	font-family: "BostonTrafficRegular", Helvetica, Arial, sans-serif;
}
h2, h3 {
  font-family: "Museo Sans", Verdana, Helvetica, sans-serif;
}
p, li, table {
  width: 40em;
  margin-left: 70px;
  font-family: Georgia, "Times New Roman", serif;
}
.todo {
  color: red;
}
div.image div {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2em;
  width: 100%;
  color: #ddd;
  background-color: #333;
  padding: 0.5em;
}
table td, table th {
  border: 1px #ddd solid;
}
table th {
    text-align: left;
}

