@font-face {
    font-family: 'BostonTrafficRegular';
    src: url('fonts/boston_traffic-webfont.eot');
    src: url('fonts/boston_traffic-webfont.eot?iefix') format('eot'),
         url('fonts/boston_traffic-webfont.woff') format('woff'),
         url('fonts/boston_traffic-webfont.ttf') format('truetype'),
         url('fonts/boston_traffic-webfont.svg#webfontpKfzaSWV') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('fonts/ArchitectsDaughter-webfont.eot');
    src: url('fonts/ArchitectsDaughter-webfont.eot?iefix') format('eot'),
         url('fonts/ArchitectsDaughter-webfont.woff') format('woff'),
         url('fonts/ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('fonts/ArchitectsDaughter-webfont.svg#webfontRPduMdrp') format('svg');
    font-weight: normal;
    font-style: normal;

}

body.awesome {
    background: url(images/Lightblue_empty_grid.svg);
    font-family: 'ArchitectsDaughterRegular', Helvetica, Arial, sans-serif;
    color: #0000aa;
}

body.awesome section.project {
    border: 2px solid #00a;
    margin-bottom: 1em;
    background: white;
}

body.awesome .topsummary {
    display: -webkit-box;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    width: 100%;
    margin-bottom: 2em;
}

body.awesome .topsummary h1 {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

body.awesome .maindate {
    width: 50px;
    line-height: 60px;
    height: 60px;
}

body.awesome div.summary {
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    width: 100%;
    border-bottom: 1px solid #00a;
}

body.awesome div.summary div.main {
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
    width: 100%;
}

body.awesome div.summary div.main div.top {
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    width: 100%;
    border-bottom: 1px solid #00a;
}

body.awesome div.summary div.top h2 {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    margin-bottom: 5px;
    margin-top: 10px;
}

body.awesome div.summary div.top div.avatars {
    border-left: 1px solid #00a;
    width: 138px;
    padding: 10px 5px 0px 5px;
}

body.awesome div.status {
    width: 70px;
    line-height: 35px;
    padding: 20px 10px 0px 10px;
    border-left: 1px solid #00a;
}

body.awesome div.summary img.avatar {
    width: 32px;
    height: 32px;
}

body.awesome section.project h2 a {
    text-decoration: none;
    border-bottom: 1px solid #0000aa;
}

body.awesome h1, body.awesome h2, body.awesome div.maindate {
    font-family: "BostonTrafficRegular", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #0000aa;
}

body.awesome a:visited, body.awesome a:link {
    color: #0000aa;
}

body.awesome a.bugid {
    color: #0000aa;
}

a.resolved {
    text-decoration: line-through;
}

body.awesome #people {
    display: none;
}

body.awesome section.people {
    display: none;
}

body.awesome div.tabs {
    display: none;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

body.awesome div.tabs.visible {
    display: block;
}


span.expander {
    font-family: sans-serif;
    cursor: pointer;
    margin-right: 4px;
    padding-right: 4px;
}

body.awesome div#tier2 {
    display: none;
}