<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../status.css" type="text/css">
    <script src="../js/require.js"></script>
		<script src="projects.js"></script>
    <script>
      (function() {
        require({
          baseUrl: "../js/"
        });
        require.ready(function() {
          require(["specjs/status"], function(status) {
						status.jumpToProject();
					});
        });
      })();
    </script>
    <title>Mozilla Developer Tools Project Status</title>
  </head>
  <body class="awesome">
		<div class="topsummary">
	    <h1>Mozilla DevTools Project Status</h1>
	    <div class="maindate">March 30</div>
		</div>
    
    <!-- projects follow -->
    <div id="projects">
    </div>
    <!-- end of projects -->
		
		<div id="people">
		</div>
		
		<div class="attribution">Some icons by <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>.</div>
		
		<script type="text/x-underscore-template" id="project_template">
			<section class="project" id="<%= id %>">
        <h2><a href="<%= url %>"><%= name %></a></h2>
        <div class="blurb"><%= blurb %></div>
				<div class="status"><%= status %></div>
				
				<% if (people) { %>
					<section class="people">
						<h3>People</h3>
						<ul>
							<% people.forEach(function(person) { %>
								<li><%= person %></li>
							<% }); %>
						</ul>
					</section>
				<% }; %>

				<div class="tabs">
					<% if (typeof(updates) !== 'undefined' && updates.length > 0) { %>
						<section>
							<h3>Updates</h3>
							<ul>
								<% updates.forEach(function(update) { %>
									<li><%= update %></li>
								<% }); %>
							</ul>
						</section>
					<% }; %>
					<% if (typeof(bugs) != 'undefined' && bugs.length > 0) { %>
						<section>
							<h3>Bugs</h3>
							<ul>
								<% bugs.forEach(function(bug) { %>
									<li><span class="bug"><%= bug %></span></li>
								<% }); %>
							</ul>
						</section>
					<% }; %>
			</section>
		</script>
		
		<script type="text/x-underscore/template" id="person_template">
			<section class="person">
				<h3><%= name %></h3>
				<div><img alt="<%= id %>" title="%<= name %>" src="<%= avatar %>" class="avatar"></div>
			</section>
		</script>
  </body>
</html>